*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
.container{
    border: .3rem solid #000;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 90vh;
}
.box{
    
    
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;    
    
}
.box1{
    background-color: blue;
    
}
.box2{
    background-color: violet;
}
.box3{
    background-color: red;
}
.box4{
    background-color: yellow;
}
.box5{
    background-color: green;
}
.box6{
    background-color: black;
}